<div>
  <ul>
    <li><a href="/circles">Circles</a></li>
    <li><a href="/movingcircles">Animated Circles</a></li>
    <li><a href="/userinteractions">User Interaction</a></li>
    <li><a href="/gravity">Gravity</a></li>
  </ul>
</div>