<div>
  <h2>Canvas</h2>
  <ul>
    <li><a href="/circles">Circles</a></li>
    <li><a href="/movingcircles">Animated Circles</a></li>
    <li><a href="/userinteractions">User Interaction</a></li>
    <li><a href="/gravity">Gravity</a></li>
    <li><a href="/collisions">Collisions</a></li>
  </ul>

  <h2>Three</h2>
  <ul>
    <li><a href="/three/helloworld">Hello world</a></li>
    <li><a href="/three/fog">Fog</a></li>
    <li><a href="/three/lights">Lights & gui</a></li>
    <li><a href="/three/shadows">Shadows</a></li>
      <a href=""></a>
  </ul>
</div>