<div>
<div id="webgl"></div>
<script src="/lib/three/three.js"></script>
<script src="/lib/orbitcontrols.js"></script>
<script src="/lib/dat.gui/dat.gui.js"></script>
<script src="/scripts/three/animationrig.js"></script>
</div>